.cartPage {
  justify-content: space-between;
  margin: 40px auto 0px;
}

.cartList {
  height: 500px;
  overflow: auto;
}

.cartList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cartList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cartItem {
  display: flex;
  padding: 5px;
  margin-top: 20px;
  justify-content: space-between;
}

.cartItemImg {
  min-width: 100px;
  max-width: 101px;
  padding: 5px;

  img {
    width: 104px;
    height: 138px;
    object-fit: cover;
  }
}

.cartItemDetails {
  margin: 5px 0;
  margin-left: 20px;

  .cartTitle {
    min-width: 250px;
    display: flex;

    .title {
      flex: 7;
      h6 {
        font-size: 14px;
        font-weight: 400;
      }

      .black {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    .icon {
      flex: 2;
      font-size: 20px;
    }
  }

  h6 {
    margin: 0;
    font-size: 12px;
  }

  .size {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background: rgba(192, 191, 191, 0.19);
    display: flex;
    margin: 10px 0;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
}

.cartPriceQty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #000;

  h6 {
    margin-top: 7px;
    font-weight: 600;
    color: #000;
  }

  .qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
    padding: 0;

    h6 {
      margin-top: 0px;
    }
  }

  .icon {
    margin: 0 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 700;
  }

  .first {
    margin-left: 0;
  }
  .icon:active {
    transform: scale(0.89);
  }
}

.red {
  color: red;
}

.cartTotalDetails {
  padding: 5px;
  margin: 10px;
  width: 95%;
  border: 1px solid grey;
  text-align: center;

  h5 {
    font-size: 13px;
    margin: 3px 0;
  }

  h4 {
    margin: 0;
  }

  .cartTotal {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .checkoutButton {
    margin: 10px;

    .button {
      padding: 8px 15px;
      font-size: 14px;
      font-weight: 600;
      border-radius: 5px;
      width: 100%;
      border: none;
      background-color: #000;
      color: white;
      cursor: pointer;
    }

    .button:active {
      transform: scale(0.98);
    }
  }
}

@media (min-width: 768px) {
  .cartPage {
    max-width: 950px;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }

  .cartItem {
    width: 550px;
  }

  .cartItemDetails {
    width: 500px;
  }

  .cartTotalDetails {
    width: 350px;
    height: 105px;
    align-items: center;
  }

  .frame {
    height: auto;
  }
}

@media (min-width: 414px) {
  .cartItemDetails {
    margin-right: 20px !important;

    .cartTitle {
      min-width: 300px;
      display: flex;

      .title {
        flex: 7;
        h6 {
          font-size: 14px;
          font-weight: 400;
        }

        .black {
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
      .icon {
        flex: 2;
        font-size: 20px;
      }
    }
  }
}
