
.checkout { 
    margin: 60px auto 0px;
    justify-content: space-between;
}

label {
    font-size: small;
}

input { 
    width: 96%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid grey;
    outline: none;
}

.addressForm { 
    margin-left: 10px;
}

textarea {
    border: 1px solid grey;
}

.phone { 
    display: flex;
    justify-content: space-between;
}

.address { 
    width: 97%;
    margin-bottom: 10px;
    outline: none;
}

.deliveryChoice { 
    margin: 20px auto;
}

.flex { 
    display: flex;
    align-items: center;

    h6 { 
        margin: 10px 40px 0 0;

    }
}

h5 { 
    margin: 0;
}

.deliveryInput { 
    width: 30px;
    margin-top: 8px;
}

.cartSummaryList { 
    max-height: 400px;
    overflow: auto;
    text-align: left;

    .cartItem { 
        margin: 0;
        justify-content: flex-start;
    }

    h6 { 
        max-width: 200px;
    }
}



.cartSummaryList::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .cartSummaryList {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  @media (min-width: 768px) { 
    .checkout { 
        display: flex;
        width: 950px;
        margin: 50px auto;
    }
    .cartItem { 
        max-width: 100%;
    }
  }
