header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 0;
  background: #fff;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
  z-index: 99;
  height: 45px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bar {
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
  }

  .search-icon {
    font-size: 22px;
    cursor: pointer;
  }

  .cart-icon {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
  }

  h4 {
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 10px 0 0 20px;
    font-weight: 700;
    line-height: 0;
    font-family: "El Messiri", sans-serif;
  }

  .right-header-content {
    justify-content: space-between;
  }
}
.no-decoration {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .bar {
    display: none;
  }
}

.side-nav {
  opacity: 1;
  background: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4));
  z-index: 99999;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;

  .side-nav-inner {
    width: 80%;
    opacity: 1;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    transition: all 0.5s ease;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }

  ul {
    list-style: none;
    padding: 0 20px;
    margin-top: 10px;
    transition: all 0.5s ease;

    h6 {
      font-size: 13px;
      font-weight: 400;
      margin: 25px 0;
    }

    .flex-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h6 {
        font-size: 13px;
        font-weight: 400;
        margin: 15px 0;
      }
      .first {
        margin-top: 0;
      }
      .icon {
        font-size: 20px;
      }
    }
    .side-nav-grey {
      font-weight: 400;
      color: rgba(128, 128, 128, 0.6);
    }

    .single-list {
      padding: 5px 10px;
      font-size: 12px;
      transition: 0.5s ease;
      opacity: 1;

      h6 {
        padding: 3px 0;
        margin: 0;
      }
    }

    .no-width {
      height: 0;
      transition: 0.5s ease;
      opacity: 0;
      h6 {
        display: none;
        opacity: 0;
      }
    }
  }

  .side-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);

    .side-nav-title {
      font-size: 13px;
      font-weight: 400;
      padding: 6px 20px;
      align-items: center;
      margin: 0;
    }
    .side-nav-login-button {
      font-weight: 400;
      color: rgba(128, 128, 128, 0.6);
      font-size: 13px;
      padding: 10px 20px;
      align-items: center;
      margin: 0;
    }
  }
}

.close-side-nav-bar {
  opacity: 0;
  background: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;

  ul {
    display: none;
  }

  .side-nav-inner {
    width: 0%;
    opacity: 0;
  }

  .side-nav-header {
    display: none;
  }
}
