.footer {
  margin: 0;
  margin-top: 30px;
  bottom: 0;

  .mobile-footer {
    display: block;

    .about-zamani {
      background-color: #f6f4e7;
      padding: 40px 0;

      h1 {
        font-weight: 600;
      }

      p {
        font-size: 11px;
        text-align: left;
        margin: 0;
        line-height: 20px;
      }
    }
    .main-footer {
      background-color: #eee2dd;
      padding: 40px 0;
      text-align: center;

      h1 {
        text-align: center;
        align-items: center;
        padding: 0;
        font-weight: 700;
        font-family: "El Messiri", sans-serif;
        text-transform: uppercase;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;

        li {
          font-size: 11px;
          padding: 5px 0;
          text-align: center;

          p {
            margin: 20px 0;
          }
        }
      }
    }
  }
}

.social-section {
  margin: 10px 0;
  padding: 5px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid black;

  p { 
    margin: 10px!important;
  }

  .social-icons {
    font-size: 21px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
}
.payment-icons {
  display: flex;
  justify-content: center;

  .payment { 
    margin-right: 10px;
  }
}